/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: left;
}





main {
    text-align: left;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.customer-service h1 {
    font-size: 2.5em;
    color: #333;
    text-align: left;
}

.customer-service p {
    font-size: 1.2em;
    color: #555;
    text-align: left;
}

.service-section {
    margin-top: 40px;
}

.service-section h2 {
    font-size: 1.8em;
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

.service-section ul {
    list-style-type: none;
    padding: 0;
}

.service-section ul li {
    font-size: 1.2em;
    margin: 10px 0;
}

.service-section a {
    color: #007bff;
    text-decoration: none;
}

.service-section a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}
